@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.ImageLinks>>

@{
    const int TITLE_AREA = 0;
    const int CONTENT_AREA = 1;

    var bgColor = Model.Content.BackgroundColor;
    var textColor = Model.Content.TextColor != null ? "text-" + Model.Content.TextColor.Label.ToLower() : "text-secondary";
    var bgstyle = $"background-color: #{bgColor}; ";
}

<section class="page-section portfolio @textColor" id="portfolio" style="@bgstyle">
    <div class="container">
        @await Html.GetBlockGridItemAreaHtmlAsync(Model.Areas.ElementAt(TITLE_AREA))
        <div class="row justify-content-center">
            @await Html.GetBlockGridItemAreaHtmlAsync(Model.Areas.ElementAt(CONTENT_AREA))
        </div>
    </div>
</section>