@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.NavigationGroup>>

@if (Model.Content != null && !string.IsNullOrWhiteSpace(Model.Content.Title))
{
    var linkUrl = Model.Content.Link?.Url ?? "#"; 
    var linkTarget = Model.Content.Link?.Target ?? "_self"; 

    <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3 rounded text-nowrap" href="@linkUrl" target="@linkTarget">
            @Model.Content.Title
        </a>
    </li>
}
