@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.Title>>

@{
    var textColorClass = Model.Content.Color != null ? "text-" +  Model.Content.Color.Label.ToLower() : "text-secondary";
    var dividerColorClass = Model.Content.Color != null && Model.Content.Color.Label == "White" ? "divider-light" : null;
}

<h2 class="page-section-heading text-center text-uppercase @(textColorClass) mb-0" id="@Model.Content.TitleId">@Model.Content.Text</h2>

<div class="d-flex justify-content-center align-items-center my-4">
    <div class="divider-animate"></div>
</div>