@inherits UmbracoViewPage

@{
    var siteSettings = Model.GetSiteSettings();
    if (siteSettings?.FooterContent is null) return;

    var bgColor = siteSettings.BackgroundColor;
    var bgstyle = $"background-color: #{bgColor}; ";
}
<footer class="footer text-center" style="@bgstyle">
    <div class="container">
        <div class="row">
            @await Html.GetBlockGridItemsHtmlAsync(siteSettings.FooterContent)
        </div>
    </div>
</footer>
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>&copy; @Umbraco.GetDictionaryValue("CopyrightStatement")  @DateTime.Now.Year</small></div>
</div>